<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".txt" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="EnvDte" #>
<#@ import namespace="System.IO" #>
<#@ assembly name="$(TargetPath)" #>
<#@ import namespace="ParserCompiler" #>
<#
	foreach (string rule in new RulesLoader(this.Host as IServiceProvider).LoadFrom("Grammar.txt"))
	{
		WriteLine(rule);
	}
	WriteLine(DateTime.Now.ToString());
#>